[Unit]
Description=Imprime un saludo y la fecha actual 
After=network.target

[Service]
ExecStart=/usr/local/bin/actividad4.sh
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target